.container_form_penilaian {
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 12px;
    /* width: 600px; */
}

.container_content_form_penilaian{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.label_form_penilaian {
    font-family: 'Poppins';
    font-weight: bold;
}

.option_form_penilaian {
    font-family: 'Poppins';
}

.input_form_penilaian {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 16px;
    padding: 6px 6px 6px 12px;
}

.input_form_penilaian::placeholder {
    font-family: 'Poppins';
    font-weight: normal;
    color: rgba(191, 207, 231, 1);
}

.container_button_form_penilaian {
    display: flex;
    /* width: 600px; */
    justify-content: flex-end;
    margin-top: 12px;
}