.container_form_penilaian {
    display: flex;
    flex-direction: column;
}

.label_form_penilaian {
    font-family: 'Poppins';
    font-weight: bold;
}

.option_form_penilaian{
    font-family: 'Poppins';
}

.input_form_penilaian {
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    margin-bottom: 16px;
    padding: 6px 6px 6px 12px;
}

.input_form_penilaian::placeholder {
    font-family: 'Poppins';
    font-weight: normal;
    color: rgba(191, 207, 231, 1);
}

.container_button_form_penilaian{
    display: flex;
    width: 600px;
    justify-content: flex-end;
    margin-top: 12px;
}