.container_permohonansurat {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* public className */
.container_page_and_sidebar {
    display: flex;
    height: 100%;
}

.container_sidebar_permohonansurat {
    width: 20%;
    align-content: center;
    border-right: 1px solid rgb(223, 223, 223);
}

.container_content_permohonansurat {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    width: 80%;
    padding: 30px 140px 20px 60px;
}

.container_wrapper_permohonansurat{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    gap: 30px;

    padding: 12px;
    border-radius: 12px;
}

/* 
table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 12px;
}

th {
    background-color: rgba(191, 207, 231, 1);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}

td, th {
    padding: 8px;
    border: 1px solid black;
}

table, th {
    text-align: center;
}

td {
    text-align: left;
} */

tr th {
    padding: 0;
}