.container_title_and_button_default {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    justify-content: space-between;
    margin-bottom: 12px;
}

.title_page {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: rgb(0, 0, 0);
}

.btn_default {
    border: none;
    border-radius: 8px;
    background-color: rgba(153, 0, 0, 1);
    color: white;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    transition: all .5s ease;
    padding: 12px 12px 12px 12px;
}


.btn_default:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
