.container_sidebar_default {
    width: 100%;
}

.sidebar_list {
    padding: 0;
    margin: 0;
}

.sidebar_list .sidebar_list_row {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins';
    color: rgb(0, 0, 0);
}

.icon_title_row{
    display: flex;
    gap: 6px;
    padding:12px;
    margin-left: 12px;
}

.sidebar_list :hover {
    background-color: rgba(153, 0, 0, 1);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.sidebar_list #active{
    background-color: rgba(153, 0, 0, 1);
    color: rgb(255, 255, 255);
}